<div class="boxmenu" ng-controller="BoxMenuController">

  <koa-toolbar>
    <koa-icon-button icon="{{boxmenu.icon}}" ng-if="!showBack" ng-click="showBoxMenu()"></koa-icon-button>
    <koa-icon-button icon="arrow-back" ng-click="goBack()" ng-if="showBack"></koa-icon-button>
    <img id="logo" ng-src="{{boxmenu.modulescope.toolbarLogo}}" ng-if="boxmenu.modulescope.toolbarLogo">
    <span class="title" ng-if="boxmenu.modulescope.toolbarTitle">{{toolbar.title}}</span>
  </koa-toolbar>

  <div id="menu" ng-class="boxmenu.shown ? 'shown' : ''">
    <div class="close-container">
      <koa-icon-button icon="close" class="close-button" ng-click="showBoxMenu()"></koa-icon-button>
    </div>
    <div id="header" ng-if="boxmenu.modulescope.headerShown" ng-class="[boxmenu.modulescope.headerAlignment, boxmenu.modulescope.headerReverse ? 'reverse' : '']" style="background-image: url('{{boxmenu.modulescope.headerBackgroundImage}}'); background-color: {{boxmenu.modulescope.headerBackgroundColor}};">
      <div class="logo" ng-if="boxmenu.modulescope.headerLogo">
        <img ng-src="{{boxmenu.modulescope.headerLogo}}">
      </div>
      <span class="title" ng-if="boxmenu.modulescope.headerTitle">{{boxmenu.modulescope.headerTitle}}</span>
    </div>
    <koa-grid columns="{{boxmenu.modulescope.columns}}">
      <a href="{{module.url}}" style="background-image: url('{{module.backgroundImage}}'); background-color: {{module.backgroundColor}};" ng-repeat="module in boxmenu.modules">
        <koa-icon icon="{{module.icon}}" ng-if="boxmenu.modulescope.showicons" class="icon"></koa-icon>
        <div>{{module.text}}</div>
      </a>
    </koa-grid>
  </div>

  <div id="main">
    <!-- moduleIdentifier + Template -->
    <div ng-include="boxmenuTemplate"></div>
  </div>

</div>
