<div class="boxmenu" ng-controller="BoxMenuController">

  <koa-toolbar>
    <koa-icon-button icon="{{boxmenu.icon}}" ng-click="showMenu()"></koa-icon-button>
    <img id="logo" ng-src="{{boxmenu.modulescope.logo}}" ng-if="boxmenu.modulescope.logo">
    <span class="title" ng-if="boxmenu.modulescope.title">{{toolbar.title}}</span>
  </koa-toolbar>

  <div id="menu" ng-class="boxmenu.shown ? 'shown' : ''">
    <div class="close-container">
      <koa-icon-button icon="close" class="close-button" ng-click="showMenu()"></koa-icon-button>
    </div>
    <div id="header" ng-if="boxmenu.modulescope.headerShown"
      ng-class="[boxmenu.modulescope.headerAlignment, boxmenu.modulescope.headerReverse ? 'reverse' : '']"
      style="background-image: url('{{boxmenu.modulescope.headerBackgroundImage}}'); background-color: {{boxmenu.modulescope.headerBackgroundColor}};">
      <div class="logo" ng-if="boxmenu.modulescope.headerLogoShown">
        <img ng-src="{{boxmenu.modulescope.headerLogo}}">
      </div>
      <span class="title" ng-if="boxmenu.modulescope.headerTitleShown">{{boxmenu.modulescope.headerTitle}}</span>
    </div>
    <koa-grid columns="{{boxmenu.modulescope.columns}}">
      <a href="{{module.url}}" style="background-image: url('{{module.backgroundImage}}'); background-color: {{module.backgroundColor}};" ng-repeat="module in boxmenu.modules">
        <koa-icon icon="{{module.icon}}" ng-if="module.icon" class="icon"></koa-icon>
        <div>{{module.text}}</div>
      </a>
    </koa-grid>
  </div>

  <div id="main">
    <!-- moduleIdentifier + Template -->
    <div ng-include="boxmenuTemplate"></div>
  </div>

</div>
